<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>汽车销售统计</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/vendors/easypiechart/jquery.easy-pie-chart.css}" rel="stylesheet" media="screen">
    <link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen">
</head>
<body>
<div th:replace="~{layout::top}"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div th:replace="~{layout::left}"></div>
        <div class="span9" id="content">
            <div class="row-fluid">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">汽车销售统计</div>
                    </div>
                    <div class="block-content collapse in">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>客户编号</th>
                                <th>客户名称</th>
                                <th>汽车名称</th>
                                <th>数量</th>
                                <th>单价</th>
                                <th>总价</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cs:${carSells}">
                                <td th:text="${cs.getCustomerId()}"></td>
                                <td th:text="${cs.getCustomerName()}"></td>
                                <td th:text="${cs.getCarName()}"></td>
                                <td th:text="${cs.getNumber()}"></td>
                                <td th:text="${cs.getPrice()}"></td>
                                <td th:text="${cs.getPrice()*cs.getNumber()}"></td>
                                <td th:text="${cs.getDate()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>